<div class="create_devs_data my-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">

                <a href="/" class="btn btn-success">Back </a>
                <br><br>
                <div class="card">
                    <div class="card-body">
                        <h1>Add New Developers</h1>
                        <hr>
                        <form action="/create" method="POST">

                            <div class="form-group my-2">
                                <label for="name">Name</label>
                                <input id="name" class="form-control" type="text" name="name">
                            </div>
                            <div class="form-group my-2">
                                <label for="name">Cell</label>
                                <input id="name" class="form-control" type="text" name="cell">
                            </div>
                            <div class="form-group my-2">
                                <label for="email">Email</label>
                                <input id="email" class="form-control" type="text" name="email">
                            </div>
                            <div class="form-group my-2">
                                <label for="">Gender :-</label> <input type="radio" name="gender" value="Male"
                                    id="male"> <label for="male">Male</label> <input type="radio" name="gender"
                                    value="Female" id="female"> <label for="female">Female</label>
                                <hr>
                            </div>
                            <div class="form-group my-2">
                                <label for="email">Location</label>

                                <select class="form-select" name="location" id="location">
                                    <option value="" selected>--Select Location--</option>
                                    <option value="Comilla">Comilla</option>
                                    <option value="Dhaka">Dhaka</option>
                                    <option value="Sylet">Sylet</option>
                                    <option value="Barisal">Barisal</option>
                                    <option value="Chittgong">Chittgong</option>
                                    <option value="Rangpur">Rangpur</option>
                                </select>
                            </div>
                            <div class="form-group my-3">
                                <label for="email">Skill</label>

                                <select class="form-select" name="skill" id="skill">
                                    <option value="" selected>--Select Skill--</option>
                                    <option value="MERN Stack">MERN Stack</option>
                                    <option value="Wordpress">Wordpress</option>
                                    <option value="PHP">PHP</option>
                                    <option value="Node JS">Node JS</option>
                                    <option value="Reacts Js">Reacts Js</option>
                                    <option value="React Native">React Native</option>
                                    <option value="Leraval">Leraval</option>
                                </select>
                            </div>

                            <div class="form-file form-file-sm my-3">
                                <label for="photo">Photo</label>
                                <br>
                                <img src="" alt="" id="uploade_preview">
                                
                                <br>
                                <label for="photoUpload"><img src="https://picturemehoustonphotobooth.com/wp-content/uploads/2017/05/Fotolia_108249960_Subscription_Monthly_M.jpg" alt=""></label>
                                <input name="devs_photo" type="file"id="photoUpload">
                                </label>
                            </div>
                            <input type="submit" class=" btn btn-info w-100" value="Create">

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>